body {
  font-family: "Roboto", sans-serif;
  background-color: #f3f4f6;
  margin: 0;
  padding: 0;
}

.main-content {
  flex: 1;
  padding: 20px 20px;
  min-height: 100vh;
}

/* Thanh tìm kiếm */
.search-bar {
        display: flex;
        align-items: center;
        background-color: white;
        border-radius: 50px;
        padding: 8px 16px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        width: 300px; /* bạn có thể chỉnh to nhỏ tùy */
        transition: box-shadow 0.3s ease;
        margin-left: auto;
        margin-bottom: 20px;
        margin-top: 20px;
    }

.search-bar:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.search-bar i {
  color: #888;
  font-size: 16px;
  margin-right: 10px;
}

.search-bar input {
  border: none;
  outline: none;
  font-size: 15px;
  flex: 1;
  color: #333;
  background-color: transparent;
  padding: 6px 0;
}

.search-bar input::placeholder {
  color: #aaa;
  font-style: italic;
}

/* Nút và tiêu đề */
    .Title {
  margin-bottom: 10px;
}

.add-button {
  display: flex;
  gap: 20px;
  padding: 20px 0;
}

.filter-btn {
  background: #f3f4f6;
  font-size: 0.875rem;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}

.add {
  background: #1976d2;
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Bảng */
.table-container {
  padding: 40px 32px;
  overflow-x: auto;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  max-width: 960px;
  margin: auto;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.product-table th {
  background-color: #f4f6fa;
  color: #333;
  font-weight: 600;
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.product-table td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #eee;
  font-size: 15px;
}

.product-table tr:hover {
  background-color: #f9fbfd;
  transition: background 0.3s ease;
  cursor: pointer;
}
