    body {
        font-family: 'Roboto', sans-serif;
        background-color: #f3f4f6;
        margin: 0;
        padding: 0;
        display: flex;
        min-height: 100vh;
    }

    .main-content {
        flex: 1;
        padding: 20px;
        min-height: 100vh;
    }

    .form-section {
        display: flex;
        flex-direction: column;
        width: 75%;
        padding: 16px;
        margin: auto;
    }

        .form-section form {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

            .form-section form > div {
                display: flex;
                align-items: center;
                gap: 16px;
                justify-content: flex-start;
            }

            .form-section form label {
                width: 150px;
                text-align: left;
                font-weight: bold;
            }

            .form-section form input,
            .form-section form select,
            .form-section form textarea {
                width: 300px;
                padding: 8px;
                border: 1px solid #ccc;
                border-radius: 4px;
                flex: none;
            }


        .form-section form .image-upload {
            height: 128px;
            justify-content: flex-start;
            padding-left: 8px;
        }

        .form-section form .additional-images {
            justify-content: flex-start;
            padding-left: 158px; /* Để thẳng hàng với input */
        }

            .form-section form .additional-images .image {
                border: 1px solid #ccc;
                border-radius: 4px;
                width: 64px;
                height: 64px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

        .form-section form .buttons {
            display: flex;
            gap: 16px;
            margin-top: 16px;
            justify-content: center;
        }

            .form-section form .buttons button {
                padding: 12px 32px;
                border-radius: 4px;
                color: white;
                border: none;
                font-size: 16px;
            }

            .form-section form .buttons .add {
                background-color: #28a745;
            }

            